/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Abel', sans-serif;
*/

body, article, section, div, p{
	margin: 0px;
	padding:0px;
}

body{
	width: 100%;
	height: 100%;
}

button{
	z-index: 2000;
	font-family: 'Abel', sans-serif;
	color: white;
	border: none;
	border-radius: 3px;
	margin: 5px;
	padding-top: 3px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
	background: #5ca47e; /* Old browsers */
	background: -moz-linear-gradient(top,  #5ca47e 0%, #82c0a5 60%, #5ca47e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ca47e), color-stop(60%,#82c0a5), color-stop(100%,#5ca47e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5ca47e 0%,#82c0a5 60%,#5ca47e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5ca47e 0%,#82c0a5 60%,#5ca47e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5ca47e 0%,#82c0a5 60%,#5ca47e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5ca47e 0%,#82c0a5 60%,#5ca47e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ca47e', endColorstr='#5ca47e',GradientType=0 ); /* IE6-9 */


}

section{
	width: 30px;
	height: 30px;
	position: absolute;
}

section img{
	width: 100%;
}

article{
	position: absolute;
}

#screen{
	width: 100%;
	height: 100%;
}

#level{
	width: 10%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	position: absolute;	
}


#collection{
    width:90%;
/*     height:40px; */
    bottom:0;
	left:10%;
/* 	background-color: rgba(68,150,250,0.62); */
	border-top: solid rgba(0,0,0,0.65) 1px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position:absolute;	

}

#collection button {
    display: inline-block;
    vertical-align: middle;
}

h2{
	font-family: 'Abel', sans-serif;
	font-size: 1.2vw;
	background: black;
	padding: 4%;
	color: white;
	margin-top: 0;
}

#level img{
	width: 80%;
	padding:12px 10px 12px 9px;
	margin-bottom: 3vh;
	z-index: 2;
	position: relative;
}

#levelHilighter{
	width: 100%;
	height: 8vw;
	background-color: white;
	position: absolute;
	left: 0;
	top: 10%;
	z-index: 0;
	
}
/*
#proton, #neutron, #electron, #electricCharge, #fusionForce, .proton, .neutron, .electron, .electricCharge, .fusionForce{
	position: absolute;
}
*/


/*
#mouseImage{
	width: 30px;
	height: 30px;
	position: absolute;
}

#mouseImage img{
	width: 100%;
}
*/


/*


#proton, #neutron, #electron, #electricCharge, #fusionForce{
	z-index: 2000;
}

.proton, #proton{
	background: turquoise; 
	width: 40px; 
	height: 40px; 
	border-radius: 50%;
}

.neutron, #neutron{
	background: coral; 
	width: 40px; 
	height: 40px; 
	border-radius: 50%;
}

.electron, #electron{
	background: #00a3ff; 
	width: 10px; 
	height: 10px; 
	border-radius: 50%;
}

.electricCharge, #electricCharge{
	border: dotted red 3px;
	width: 50px; 
	height: 50px; 
	border-radius: 50%;
}

.fusionForce, #fusionForce{
	border: solid 4px rgba(255,86,0,1);
	width: 60px; 
	height: 60px; 
	border-radius: 50%;
}
*/